<div>
    <% for(var i=0; i<data.length; i++) {%>
        <% if(i % 3 == 0) { %>
        <div class="cardContainer">
        <% } %>
        <div class="card">
        <header>
            <h4><%= data[i].name %></h4>
        </header>
            <img src="<%= data[i].imageUrl %>" alt="t" class="cardImg">
            <div class="cardText">
            <h5>$<%= data[i].price %></h5>
            <p><%= data[i].description %></p>
            </div>
        <% if(i % 3 == 2) { %>
        </div>
        <% } %>
        </div>
    <% } %>
</div>